.input {
    font-size: 22px;
    height: 64px;
    
}

.ant-input {
    padding-left: 50px !important;
    font-size: 22px !important;
}

.ant-btn {
    height: 50px !important;
    font-size: 23px !important;
}

.ant-input-prefix {
    font-size: 20px;
}


.ant-drawer-title {
    font-size:21px !important;
}

.ant-drawer-body {
    font-size: 18px !important;
}